<!DOCTYPE html>
<html>
  <head>
    <title>Flikipedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="menu">
        <%= link_to "Home", welcome_index_path %>
        <%= link_to "About", welcome_about_path %>
        <%= link_to "Wikis", wikis_path %>
      </div>
      <div class="user-account">
        <% if user_signed_in? %>
          <% if current_user.premium? %>
            <%= link_to "User Profile", users_show_path %>
          <% end %>
          <% if current_user.standard? %>
          <%= link_to "Upgrade to Premium!", new_charge_path %>
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>

<!-- Flash messages recommended by Devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
